{% extends "base.html" %}

{% block navbar %}
    <li class="tpl-left-nav-item">
        <a class=" nav-link tpl-left-nav-link-list" href={{ url_for('manager_index') }}>
            <i class="am-icon-home"></i>
            <span>系统首页</span>
        </a>
    </li>

    <li class="tpl-left-nav-item">
        <a class="nav-link active"  href={{ url_for('manager_depart') }}>
            <i class="am-icon-bar-chart"></i>
            <span>院系信息</span>
        </a>
    </li>
    <li class="tpl-left-nav-item">
        <a class="nav-link tpl-left-nav-link-list" href={{ url_for('manager_tchr') }}>
            <i class="am-icon-bar-chart"></i>
            <span>教师信息</span>
        </a>
    </li>
    <li class="tpl-left-nav-item">
        <a class="nav-link tpl-left-nav-link-list" href={{ url_for('manager_stu') }}>
            <i class="am-icon-bar-chart"></i>
            <span>学生信息</span>
        </a>
    </li>
    <li class="tpl-left-nav-item">
        <a class="nav-link tpl-left-nav-link-list" href={{ url_for('manager_class') }}>
            <i class="am-icon-bar-chart"></i>
            <span>查看课程</span>
        </a>
    </li>
    </li>
    <li class="tpl-left-nav-item">
        <a class=" nav-link tpl-left-nav-link-list"  href={{ url_for('manager_class_add') }}>
            <i class="am-icon-bar-chart"></i>
            <span>添加课程</span>
        </a>
    </li>
    <li class="tpl-left-nav-item">
        <a class="nav-link tpl-left-nav-link-list"  href={{ url_for('mang_class_delete') }}>
            <i class="am-icon-bar-chart"></i>
            <span>删除课程</span>
        </a>
    </li>
    <li class="tpl-left-nav-item">
        <a class="nav-link tpl-left-nav-link-list" href={{ url_for('manager_open_class_add') }}>
            <i class="am-icon-bar-chart"></i>
            <span>添加开课</span>
        </a>
    </li>
    <li class="tpl-left-nav-item">
        <a class="nav-link tpl-left-nav-link-list" href={{ url_for('mang_del_open_class') }}>
            <i class="am-icon-bar-chart"></i>
            <span>删除开课</span>
        </a>
    </li>
{% endblock %}


{% block form_above %}
    <div class="caption font-green bold">
        院系一览
    </div>
    <div class="tpl-portlet-input tpl-fz-ml">
        <div class="portlet-input input-small input-inline">
            <div class="input-icon right">
                <!-- <i class="am-icon-search"></i> -->
                <input type="hidden" class="form-control form-control-solid" placeholder="搜索..."></div>
        </div>
    </div>
{% endblock %}


{% block form_body %}

    <form class="am-form">
        <table class="am-table am-table-striped am-table-hover table-main">

            <tbody>
            {% if col_name %}
                <tr>
                    <td>{{ col_name[0] }}</td>
                    <td>{{ col_name[1] }}</td>
                    <td>{{ col_name[2] }}</td>
                    <td>{{ col_name[3] }}</td>
                </tr>
            {% endif %}

            {% if depart %}
                {% for item in depart %}
                    <tr>
                        <td>{{ item.dno }}</td>
                        <td>{{ item.d_name }}</td>
                        <td>{{ item.address }}</td>
                        <td>{{ item.phone }}</td>
                    </tr>
                {% endfor %}
            {% endif %}

            </tbody>
        </table>
        <hr>
    </form>
{% endblock %}
