{% extends "base.html" %}

{% block navbar %}
    <li class="tpl-left-nav-item">
        <a class="nav-link active" href={{ url_for('student_index') }}>
            <i class="am-icon-home"></i>
            <span>系统首页</span>
        </a>
    </li>

    <li class="tpl-left-nav-item">
        <a class=" nav-link tpl-left-nav-link-list" href={{ url_for('student_grade') }}>
            <i class="am-icon-bar-chart"></i>
            <span>成绩信息</span>
        </a>
    </li>
    <li class="tpl-left-nav-item">
        <a class="nav-link tpl-left-nav-link-list" href={{ url_for('student_class') }}>
            <i class="am-icon-bar-chart"></i>
            <span>开课信息</span>
        </a>
    </li>
    <li class="tpl-left-nav-item">
        <a class="nav-link tpl-left-nav-link-list" href={{ url_for('student_select') }}>
            <i class="am-icon-bar-chart"></i>
            <span>选择课程</span>
        </a>
    </li>
    <li class="tpl-left-nav-item">
        <a class="nav-link tpl-left-nav-link-list" href={{ url_for('student_drop') }}>
            <i class="am-icon-bar-chart"></i>
            <span>退选课程</span>
        </a>
    </li>
    </li>
    <li class="tpl-left-nav-item">
        <a class="nav-link tpl-left-nav-link-list" href={{ url_for('stu_notice_view') }}>
            <i class="am-icon-bar-chart"></i>
            <span>通知详情</span>
        </a>
    </li>

{% endblock %}

{% block form_above %}
    <h1 align="center">欢迎登录&nbsp;&nbsp;<span style="font-size: 35px;color: #0e90d2">学生</span>&nbsp;&nbsp;选课系统，点击左侧功能列表中的按钮，显示对应的信息
    </h1>
    <script>
        {% if sta %}
            {% if sta==1 %}
                alert('欢迎进入学生选课系统')
            {% else %}
                alert('用户名或密码错误')
            {% endif %}
        {% endif %}
    </script>
{% endblock %}
